<style type="text/css">
@font-face {
    font-family: Narziss-medium;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
*{
    font-family: Narziss-medium;
}
u{
    font-family: none;
    font-size: 3vw;
}
.main{
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/karlie-kloss_copy.png");
   background-repeat: no-repeat;
   background-size: 62vw;
   background-position: -5vw -5vw;
   position: absolute;
   width: 100vw;
   height: 60vw;
   filter: brightness(0.3) sepia(10) hue-rotate(290deg) saturate(300%) brightness(150%);
   margin-top:vw;
   
}
.feet{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/karlie-kloss_copy.png");
   background-repeat: no-repeat;
   background-size: 62vw;
   background-position: -5vw -5vw;
   position: absolute;
   width: 100vw;
   height: 90vw;
   
   margin-top: -1vw;
}
.background{
    position: absolute;
    background-color: rgb(233, 77, 93);
   width: 100vw;
   height: 60vw; 
   margin-top: -1vw;
}
.frame{
    background-position: 15vw 0vw;
    background-size: 30vw;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 10% 10%, 90% 10%, 90% 90%, 10% 90%, 10% 100%, 100% 100%, 100% 0%);
    position: absolute;
    top: 10vw;
    left: 17vw;
    width: 40vw;
    height: 45vw;
    background-color: rgb(250, 25, 65);
}
.frame2{
    position: absolute;
    margin-top: 80vw;
    margin-left: 10vw;
    width: 70vw;
    height: fit-content;
    border: solid rgb(250, 25, 65) 1vw;
    border-left: none;
    border-right: none;
    font-size: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
.overlay{
    top: 0px;
    position: absolute;
    width: 90vw;
    height: 60vw;
    background-color: rgba(30, 116, 33, 0.345);
}
.trans{
    font-size: 10vw;
    filter: opacity(50%);
    position: absolute;
    top: 12vw;
    margin-left: 31vw;
}
.trans2{
    font-size: 10vw;
    filter: opacity(50%);
    margin-left: 40vw;
    position: absolute;
    top: 28vw;
}

.text1{
    font-size: 10vw;
    color: white;
    position: absolute;
    top: 10vw;
    left: 30vw;
}
.text2{
    font-size: 10vw;
    color: white;
    position: absolute;
    top: 25vw;
    left: 40vw;
}
.booknow{
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.5) 1vw 2vw;
    color: white;
    background-color: rgb(250, 25, 65);
    position: absolute;
    top: 50vw;
    left: 63vw;
    border: none;
}
.booknow:active{
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5vw 1vw;
    color: white;
    background-color: rgb(250, 25, 65);
    position: absolute;
    top: 51vw;
    left: 63.5vw;
    border: none;
}
.booknow2{
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.5) 1vw 2vw;
    color: white;
    background-color: rgb(250, 25, 65);
    position: absolute;
    top: 50vw;
    left: 30vw;
    border: none;
}
.booknow2:active{
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5vw 1vw;
    color: white;
    background-color: rgb(250, 25, 65);
    position: absolute;
    top: 51vw;
    left: 30vw;
    border: none;
}
footer{
    position: absolute;
    width: 100vw; 
    height: 10vw;
    top: 165vw;
}
.mom{
    width: 15vw;
    height:10vw;
    left: 10vw;
    border: solid white 2vw;
    background-color: white;
    margin: 0.5vw;
}
.dad{
    border: solid white 2vw;
    width: 15vw;
    height:10vw;
    left: 30vw;
    background-color: white;
    margin: 0.5vw;
}
.dog{  
    border: solid white 2vw;
    width: 15vw;
    height:10vw;
    background-color: white;
    margin: 0.5vw;
}
.gallery{
    background-color: rgb(233, 77, 93);
    position: absolute;
    top: 145vw;
    padding: 4vw;
    width: fit-content;
    margin-left: 15vw;
  
}
</style>

<div class="feet"></div>
<div class="background">
    <h1 class="trans">Heritage</h1>
    <h1 class="trans2">Portraits</h1>
<div class="main">
    
  
</div>

<div class="frame"></div>
<h1 class="text1">Heritage</h1>
    <h1 class="text2">Portraits</h1>
</div>
<button class="booknow">Book Now</button>
<div class="frame2">
    <center>
    <h2>Dear Ava,</h2> 
    <p>Friendly reminder, your Heritage portraits <bold><u>$750 Gift Card</u></bold>
    booking expiry date is coming up on 20th of January.</p>
    
    <p>This means to make a photoshoot booking for March-April 2021 you must contact
        us before the expiry day.
    </p>
    
    <p>The studio has very limited spots and is filling fast so to get the best 
        availability.
    </p>
    <br>
    <button class="booknow2">Book Now</button>
</center>
</div>
<div class="gallery">
    <img class="dad" src="https://static.wixstatic.com/media/4f606c_dd053789dbfa49cea80d36d24c3b8e51~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_1011,h_674,fp_0.50_0.50,q_90/4f606c_dd053789dbfa49cea80d36d24c3b8e51~mv2_d_5760_3840_s_4_2.webp">
<img class="dog" src="https://static.wixstatic.com/media/4f606c_a8155af6ec3643059a8fd4816a6bbe1e~mv2.png/v1/fill/w_647,h_471,fp_0.50_0.50,q_95/4f606c_a8155af6ec3643059a8fd4816a6bbe1e~mv2.webp">
<img class="mom" src="https://static.wixstatic.com/media/4f606c_dcad588efdbb4a06ab599a0f9a3b1d29~mv2_d_5616_3744_s_4_2.jpg/v1/fill/w_379,h_252,fp_0.50_0.50,q_90/4f606c_dcad588efdbb4a06ab599a0f9a3b1d29~mv2_d_5616_3744_s_4_2.webp">

</div>
<footer></footer>
